<div class="container-fluid">
  <div class="row"><p></p></div>
  <div class="row">
    <div class="pull-right">
        <a class="btn btn-success btn-circle" [routerLink]="['./add']"><i class="fa fa-plus"></i></a>
        <button class="btn btn-primary btn-circle" [disabled]="selectedIndex == -1" (click)="edit()"><i class="fa fa-edit"></i></button>
        <button class="btn btn-danger btn-circle" [disabled]="selectedIndex == -1" (click)="delete()"><i class="fa fa-trash"></i></button>
    </div>
    
  <div class="row">
      <table class="table table-striped">
          <thead>
            <tr>
              <th>Title</th>
              <th>Budget</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of expenseCategories; let i = index" (click)="onRowSelection(i, category)" [class.active]="i == selectedIndex">
              <td>{{category.Title }}</td>
              <td>{{category.Budget}}</td>
            </tr>            
          </tbody>
        </table>
  </div>
</div>
