<div class="row"><p></p></div>
<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
          <div class="col-sm-2 form-group">
              <label for="date">Date</label>
              <input
                type="date"
                id="date"
                name="date"
                [value]="expenseEntry.Date | date:'yyyy-MM-dd'"
                (input)="expenseEntry.Date = parseDate($event.target.value)"
                class="form-control" 
                #Date
                >
            </div>
        <div class="col-sm-5 form-group">
          <label for="description">Description</label>
          <input
            type="text"
            id="description"
            name="description"
            class="form-control"
            [(ngModel)]="expenseEntry.Note">
        </div>
        <div class="col-sm-2 form-group">
          <label for="category">Category</label>
          <select id="category" name="category" class="form-control" [(ngModel)]="expenseEntry.CategoryId" (change)="onCategorySelection($event.target.value)">
            <option *ngFor="let category of expenseCategories" value="{{category.Id}}" >
              {{category.Title}}
            </option>
          </select>
      </div>
        <div class="col-sm-2 form-group">
            <label for="amount">Amount Spent</label>
            <input
              type="number"
              id="amount"
              name="amount"
              class="form-control"
              [(ngModel)]="expenseEntry.Amount">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" (click)="onSave()">Save</button>        
          <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>    
          <button class="btn btn-primary" type="button" (click)="onDelete()">Delete</button>
        </div>
      </div>
    </form>
  </div>
</div>



<div class="container-fluid">
  <div class="row"><p></p></div>   
    
  <div class="row">
      <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Description</th>
              <th>Category</th>
              <th>Amount Spent</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let expense of expenses; let i = index" (click)="onRowSelection(i, expense)" [class.active]="i == selectedIndex">
              <td>{{ expense.Date | date:'longDate'}}</td>
              <td>{{expense.Note }}</td>
              <td>{{ getExpenseCategoryTitle(expense.CategoryId) }}</td>
              <td>{{expense.Amount}}</td>
            </tr>            
          </tbody>
        </table>
  </div>
</div>
